<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link  rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}"/>
    <link  rel="stylesheet" href="{{asset('/css/style.css')}}"/>
    <head>   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Accueil GSB{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}        
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    
        
        {% block body %}
            <body background="img/paysage2.jpg">
                <nav class="navbar navbar-expand-md navbar-dark p-md-3">
                    <a class="px-5" href="{{path('accueil')}}"><b class="text-light" style="font-size:40px">ACCUEIL</b></a>
                    <ul class="navbar-nav">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" style="background-color: black; border-color: black;"><a href="{{ path('sommaire') }}">Sommaire</a></button>
                            <div class="btn-group" style="background-color: black; border-color: black;">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: black; border-color: black; color: #0d6efd;">
                                    SI
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('gsb')}}">GSB</a>
                                    <a class="dropdown-item" href="{{ path('gestionGsb')}}">Gestion</a>
                                    <a class="dropdown-item" href="{{ path('equipementGsb')}}">Equipement</a>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: black; border-color: black; color: #0d6efd">
                                    Réseau
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('repartitionGsb')}}">Répartition</a>
                                    <a class="dropdown-item" href="{{ path('segmentationGsb')}}">Segmentation du réseau</a>
                                </div>
                            </div>
                            <div class="btn-group" style="background-color: black; border-color: black;">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: black; border-color: black; color: #0d6efd;">
                                    Les utilisateurs
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('lesUtilisateurs')}}">Liste utilisateurs</a>
                                    <a class="dropdown-item" href="{{ path('lesUtilisateursByVille')}}">Utilisateurs par ville</a>
                                    <a class="dropdown-item" href="{{ path('lesUtilisateursByFrais')}}">Utilisateurs ayant des frais</a>
                                    <a class="dropdown-item" href="{{ path('lesUtilisateursBySansFrais')}}">Utilisateurs sans frais</a>
                                    <a class="dropdown-item" href="{{ path('lesUtilisateursByNbFiches')}}">Nombre de fiches / Utilisateurs</a>
                                    <a class="dropdown-item menudel" href="{{ path('utilisateurConcerne') }}">Utilisateur Concernés</a>
                                </div>
                            </div>
                            <div class="btn-group" style="background-color: black; border-color: black;">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: black; border-color: black; color: #0d6efd;">
                                    Les domaines
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('lesDomaines')}}">Liste domaines</a>
                                </div>
                            </div>
                            <div class="btn-group" style="background-color: black; border-color: black;">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: black; border-color: black; color: #0d6efd;">
                                    Etat
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('etat_index')}}">Liste des états</a>
                                    <a class="dropdown-item" href="{{ path('etat_new')}}">Créer un état</a>
                                </div>
                            </div>
                        </div>                        
                    </ul>
                </nav>
            </body>   
        {% endblock %}
        
        {% block text %}
            
        {% endblock %}
    </body>  

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</html>
