{% extends 'base2.html.twig' %}

{% block title %}
    Les utilisateurs par ville
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Les utilisateurs par ville</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            {% if listeUtilisateursByVille is empty %}
                                <p class="text-light" style="font-size:30px"> Aucun inscrit pour cette ville </p>
                            {% else %}
                                {% for unUtilisateur in listeUtilisateursByVille %}
                                    <p class="text-light" style="font-size:30px">
                                        Id utilisateur : {{ unUtilisateur.id }}, <br>
                                        Nom utilisateur : {{ unUtilisateur.nom }}, <br>
                                        Prenom utilisateur : {{ unUtilisateur.prenom }}, <br>
                                        Adresse utilisateur : {{ unUtilisateur.adresse }},w<br>
                                        Code postal utilisateur : {{ unUtilisateur.cp }},<br>
                                        Ville utilisateur : {{ unUtilisateur.ville }}</p>
                                {% endfor %} 
                            {% endif %}                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}