{% extends 'base2.html.twig' %}

{% block title %}
    Les utilisateurs
{% endblock %}

{% block text %}    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <div class="block" >
                    <center><h1 class="title text-light" style="font-size:50px"><b>Les utilisateurs</b></h1></center>
                    <div class="container my-5 d-grind gap-5">
                        <div class="p-5 border" style="background-color:#374e6e ">
                            <br> 
                            <p class="text-light" style="font-size:30px"> 
                                    <center><h1 class="title text-light" style="font-size:50px; border"><b>Liste des utilisateurs<br/></b></h1><p class="title" style="color:white; font-size: 18px;">{{ listeUtilisateurs |length }} utilisateurs inscris sur le site</p></center>
                            {% for unUtilisateur in listeUtilisateurs %}
                                <p class="text-light" style="font-size:30px"> 
                                    <u>Id utilisateur :</u> {{ unUtilisateur.id }}, <br>
                                    <u>Nom utilisateur :</u> {{ unUtilisateur.nom }}, <br>
                                    <u>Prenom utilisateur :</u> {{ unUtilisateur.prenom }}, <br>
                                    <u>Adresse utiliateur :</u> {{ unUtilisateur.adresse }}, <br>
                                    <u>Code postal utilisateur :</u> {{ unUtilisateur.cp }}, <br>
                                    <u>Ville utilisateur :</u> {{ unUtilisateur.ville }}, <br>
                                    <u>Catégorie :</u>  {{ unUtilisateur.idCategorie.nomCategorie }}
                                    <br> <br> <br>
                                </p>
                            {% endfor %}                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}